header {
    display: flex;
    flex-direction: column;

    padding: 10px;
    width: 100%;
    height: 70vh;
    background: url(../assets/img/bg-cardápio.png) no-repeat center center fixed;
    background-size: cover;

    text-align: center;
    justify-content: center;
   
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}


h1 {
    font-family: var(--titulos);
    color: var(--cor-principal);
    font-size: clamp(2rem, 10vw, 15rem);
    line-height: 1.1;
    max-width: 90;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
}

.botões-cardápio{
    font-family: var(--titulos);
    margin:0 auto;
    padding:100px;
    padding-bottom:40px;


}
.botões-cardápio h3{
    padding-bottom: 40px;
    font-size: 28px;
    color:#005926 ;
    font-weight:500;

}
.botões-cardápio a{
    border:1px solid;
    padding:30px 50px 30px 20px;
    align-items: left;
    cursor: pointer;

}
.botões-cardápio .cardápio{
    background-color:#C8102E;
    border-radius: 10px;
    color: var(--cor-principal);
    font-weight: 500;
    font-size: 24px;

}
.pasta{
    color: black;
    text-decoration: none;
}
.botões-cardápio .promoção {
    color:var(--cor-principal);
    font-size:24px ;
    font-weight: 500;
    border-radius: 10px;
    background: linear-gradient( to right,#615E5E, #C1C0C0);
}

.botões-categorias{
    display: flex;
    padding:100px;
    padding-top: 1px;
    width: 547px;
    padding-bottom: 0;
    
}
.botões-categorias a{
    flex: 0 0 220px;
    font-family: var(--titulos);
    padding:30px 40px 20px 20px;
    border: 1px solid;
    cursor: pointer;
    border-color:#8D8686 ;
    font-size: 20px;
    text-align: center
}
.div-Antipasti {
    width: 1706px;
    margin:100px;
    margin-bottom: 0;
    margin-top: 0;
    padding:16px 16px 40px 16px;
    background-color: #F3F3F3;

}

.div-Antipasti .texto {
    padding-top: 1px;
    align-items: left;
    
}
.aba-Antipasti{
    padding-top: 40px;
    margin: 0 auto;
    max-width: 1700px;

}
.menu-grid{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}



.Focaccia{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
    
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    align-self: flex-start;
}

.conteudo h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    padding-bottom: 15px;

}

.conteudo .descricao{
    font-size: 20px;
    padding-bottom: 15px;
    line-height: 1.4;
    color: #333;
    margin: 0;
}

.conteudo .tag{
    font-size: 14px;
    margin: 4px 0;
    padding-bottom: 30px;
}

.conteudo .preco{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    
}

.aba-Antipasti img{
    border-radius: 10px;
    width: 258px;
    height: 238px;
    object-fit: cover;
    
    
}
.Arancini-Romano{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
}

.conteudo .preço{
    font-size: 16px;
    font-weight: 600;
    margin: 0;


} 
.Burrata{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
}
    





.Polpettini{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
    padding-top: 20px;
}

.div-Pasta {
    width: 1706px;
    margin-bottom: 0;
    margin-top: 0;
    padding:16px 16px 40px 16px;
    background-color: #F3F3F3;

}

.div-Pasta .texto {
    padding-top: 1px;
    align-items: left;
}
.aba-Pasta{
    padding-top: 40px;
    margin: 0 auto;
    max-width: 1700px;
}
.menu-grid{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}



.Lasagna{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
    
}

.Tagliatelle{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
}

.conteudo .preço{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding-top:70px
    
} 
.Pizza{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
}
    
    




.Ravioli{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    align-self: flex-start;
}

.conteudo h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    padding-bottom: 15px;

}

.conteudo .descricao{
    font-size: 20px;
    padding-bottom: 15px;
    line-height: 1.4;
    color: #333;
    margin: 0;
}

.conteudo .tag{
    font-size: 14px;
    margin: 4px 0;
    padding-bottom: 30px;
}

.conteudo .preco{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding-top:65px;
}

.aba-Pasta img{
    border-radius: 10px;
    width: 258px;
    height: 238px;
    object-fit: cover;
    
    
}


aba-Dolci{
    padding-top: 40px;
    margin: 0 auto;
    max-width: 1700px;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}



.Tiramisù{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
}
    
    


.Pistachio{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #005926 ;
}

.conteudo .preço{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding-top:70px
    
} 





.conteudo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    align-self: flex-start;
}

.conteudo h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    padding-bottom: 15px;

}

.conteudo .descricao{
    font-size: 20px;
    padding-bottom: 15px;
    line-height: 1.4;
    color: #333;
    margin: 0;
}

.conteudo .tag{
    font-size: 14px;
    margin: 4px 0;
    padding-bottom: 30px;
}

.conteudo .preco{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.aba-Dolci img{
    border-radius: 10px;
    width: 258px;
    height: 238px;
    object-fit: cover;
    
    
}
.div-dodia {
    width: 1706px;
    margin-bottom: 0;
    margin-top: 0;
    padding:16px 16px 40px 16px;
    background-color: #F3F3F3;

}

.div-dodia .texto {
    padding-top: 1px;
    align-items: left;
}
/*auxilio de IA*/
@media (max-width: 1120px) {
    header {
        height: 50vh;
        background-attachment: scroll;
        padding: 20px;
    }

    h1 {
        font-size: clamp(2rem, 12vw, 6rem);
    }

    .botões-cardápio {
        padding: 40px 20px;
        text-align: center;
    }

    .botões-cardápio a {
        display: block;
        margin: 10px auto;
        width: 100%;
        max-width: 350px;
        text-align: center;
        padding: 20px;
    }

    .botões-categorias {
        flex-wrap: wrap;
        padding: 20px;
        width: 100%;
        gap: 20px;
    }

    .botões-categorias a {
        flex: 1 1 45%;
        max-width: 100%;
        padding: 20px;
    }

   
    .div-Antipasti,
    .div-Pasta,
    .div-dodia {
        width: 100%;
         max-width: 1200px;
        margin: 40px 0;
    }

    .aba-Antipasti,
    .aba-Pasta,
    .aba-Dolci {
        max-width: 100%;
        padding: 20px;
    }

    
    .menu-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

   
    .Focaccia,
    .Arancini-Romano,
    .Burrata,
    .Polpettini,
    .Lasagna,
    .Tagliatelle,
    .Pizza,
    .Ravioli,
    .Tiramisù,
    .Pistachio {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
    .aba-Antipasti img,
    .aba-Pasta img,
    .aba-Dolci img {
        width: 90%;
        height: auto;
        align-content: center;
    }

    .conteudo {
        align-items: center;
        text-align: center;
    }

    .conteudo h2 {
        font-size: 26px;
    }
    

    .conteudo .descricao {
        font-size: 18px;
    }

    .conteudo .preco,
    .conteudo .preço {
        padding-top: 10px !important;
    }
}




@media (max-width: 760px) {

    header {
        height: 40vh;
        padding: 15px;
    }

    h1 {
        font-size: clamp(1.8rem, 10vw, 4.5rem);
    }

    .botões-cardápio {
        padding: 20px;
    }

    .botões-cardápio a {
        max-width: 100%;
        padding: 18px;
        font-size: 20px;
    }

    .botões-categorias {
        gap: 10px;
    }

    .botões-categorias a {
        flex: 1 1 100%;
        font-size: 18px;
        padding: 15px;
    }

    .conteudo h2 {
        font-size: 22px;
    }

    .conteudo .descricao {
        font-size: 16px;
    }

    .aba-Antipasti img,
    .aba-Pasta img,
    .aba-Dolci img {
        width: 100%;
    }
}
