header {
    display: flex;
    flex-direction: column;

    padding: 10px;
    width: 100%;
    height: 70vh;
    background: url(../assets/img/bg-eventos.png) no-repeat center center fixed;
    background-size: cover;

    text-align: center;
    justify-content: center;
}

h1 {
    font-family: var(--titulos);
    font-size: clamp(4rem, 10vw, 15rem);;
    color: var(--cor-principal);

    margin-top: 4%;
    margin-bottom: 5%;
}

section {
    padding: 20px;
    height: auto/* 68vw */;
}

#div-limitadora-tamanho {
    width: 80%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

article.eventos {
    width: 49%;
    height: 49%;
    margin: auto;
    margin-bottom: 1%;
}

#article-aniversario,
#article-confraternizacao,
#article-casamento,
#article-evento-corporativo {
    position: relative;
}

#article-aniversario img,
#article-confraternizacao img,
#article-casamento img,
#article-evento-corporativo img{
    display: block;
    width: 100%;
    height: 100%;
}

#article-aniversario h2,
#article-confraternizacao h2,
#article-casamento h2,
#article-evento-corporativo h2 {
    position: absolute;
    top: 5%;
    left: 2%;

    font-size: clamp(1.4em, 3vw, 15rem);;
    color: var(--cor-principal);
}

.btn-orcamento {
    position: absolute;
    bottom: 10%;
    left: 10%;

    width: 48%;
    height: 15%;
    background-color: var(--cor-destaque);

    color: white;
    font-family: var(--destaque);
    font-size: clamp(1em, 2.5vw, 15em);

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 730px) {
    section {
        height: auto;
    }
    
    #div-limitadora-tamanho {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    article.eventos {
        width: 75%;
        height: 75%;
    }
}