@keyframes mudar-bg {
    0% {
        background-color: var(--cor-principal);
    }
    100% {
        background-color: #e6e6e6;
    }
}

nav {
    border: 1px solid var(--cor-secundaria);
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
}

a.item-nav, a.item-nav > p{
    color: var(--cor-secundaria);
}

a#img {
    margin: 0 49% 0 3%;
    padding: 7px;
    height: 100%;
}

img#img-nav {
    height: 95%;   
}

div.elementos-nav {
    height: 100%;
    width: 13%;
    border-left: 1px solid var(--cor-secundaria);
    border-right: 1px solid var(--cor-secundaria);
    padding: 10px;

    text-align: center;
    align-content: center;
    font-size: 1.5em;
}

div.elementos-nav:hover {
    /* peguei isso aqui de um repositório antigo meu e mudei */
    animation: mudar-bg 1s ease-out 0.1s 1 normal forwards;
}

.elementos-nav p {
    font-family: var(--titulos);
}

@media (max-width: 1120px) {
    nav {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }

    a#img, a#img > img{
        margin: auto;
    }

    div.elementos-nav {
        width: 100%;

        border-left: none;
        border-right: none;

        border-top: 1px solid var(--cor-secundaria);
        /* border-bottom: 1px solid var(--cor-secundaria); */
    }
}