header {
    display: flex;
    flex-direction: column;

    padding: 10px;
    width: 100%;
    height: 70vh;
    background: url(../assets/img/bg-sobrenós.png) no-repeat center center fixed;
    background-size: cover;

    text-align: center;
    justify-content: center;
   
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}


h1 {
    font-family: var(--titulos);
    color: var(--cor-principal);
    font-size: clamp(4rem, 10vw, 15rem);
    line-height: 1.1;
    max-width: 90;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
}

.caixa-texto-sobrenós{
    font-family: var(--titulos);
    max-width:1400px;
    max-height: 895px;
    margin:0 auto;
    text-align: justify;
    line-height:1.6;
    margin-top: 9%;
    margin-bottom:10%;

}
.caixa-texto-sobrenós .texto{
    margin: 0 auto;
    width: 85%;
    display: block;
    font-weight: 600;
    font-size: clamp(0.9rem, 0.5rem + 1vw, 2rem);
    margin-bottom:40px;
    color:#005926 ;
}
.caixa-foto {
    width: 100%;
    display:flex;   
    justify-content: center;
    margin:140px 0px;

}
.foto-taylor img{
    max-width: 1200px;
    min-width:300px;
    width: 100%;
    height: auto;
}