header {
    display: flex;
    flex-direction: column;

    padding: 10px;
    width: 100%;
    height: 70vh;
    background: url(../assets/img/bg-sobrenós.png) no-repeat center center fixed;
    background-size: cover;

    text-align: center;
    justify-content: center;
   
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}


h1 {
    font-family: var(--titulos);
    font-size: 12.5em;
    font-weight: normal;
    color: var(--cor-principal);
    margin-top: 4%;
    margin-bottom: 5%;
}

.caixa-texto-sobrenós{
    font-family: var(--titulos);
    max-width:1400px;
    max-height: 895px;
    margin:0 auto;
    text-align:center;
    line-height:1.6;
    font-size: 30px;
    margin-top: 9%;
    margin-bottom:10%;

}
.caixa-texto-sobrenós .texto{
    font-weight: 600;
    margin-bottom:40px;
    color:#005926 ;
}
.caixa-foto {
    width: 100%;
    display:flex;   
    justify-content: center;
    margin:140px 0px;

}
.foto-taylor img{
    max-width: 1200px;
    width:100%;
    height: auto;

}