<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="stylesheet" href="/src/styles/footer.css">
</head>
<body>
    <footer>
        <div id="fixacao">
            <div class="caixa-texto-footer">
                <p class="titulo">ENDEREÇO:</p>
                <p class="texto">R. Antônio Marcos de Moraes, 105, Xavier</p>
                <p class="texto">Urandi/BA</p>
            </div>
            
            <div class="linha"></div>

            <div class="caixa-texto-footer">
                <p class="titulo">HORÁRIOS:</p>
                <p class="texto">TER-QUI: 18h às 23h</p>
                <p class="texto">SEX: 12h às 15:30h e 18h às 23h</p>
                <p class="texto">SÁB: 12h às 16:30h e 18h às 23h</p>
                <p class="texto">DOM: 11:30h às 16h</p>
            </div>

            <div class="linha"></div>

            <div class="caixa-texto-footer">
                <p class="titulo">TELEFONE:</p>
                <p class="texto">(77) 9188-4825</p>
            </div>
        </div>

        <img src="./src/assets/img/logo-sembg-w.png" alt="Logo do restaurante" id="logo">

        <div id="redes-sociais">
            <img src="./src/assets/img/icone-instagram.png" alt="Instagram">
            <img src="./src/assets/img/icone-whatsapp.png" alt="Whatsapp">
            <img src="./src/assets/img/icone-facebook.png" alt="Facebook">
        </div>

        <p>CNPJ: 75.910.277/0001-50</p>
    </footer>
</body>
</html>