<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/nav.css">
    <link rel="stylesheet" href="/src/styles/style.css">
</head>
<body>
    <nav>
        <a id="img" href="./index.html">
            <img id="img-nav" src="./src/assets/img/logo-sem-bg-verde.png" alt="Logo">
        </a>

        <div class="elementos-nav">
            <a class="item-nav" href="/cardápio.html">
                <p>CARDÁPIO</p>
            </a>
        </div>
        <div class="elementos-nav">
            <a class="item-nav" href="/eventos.html">
                <p>EVENTOS</p>
            </a>
        </div>
        <div class="elementos-nav">
            <a class="item-nav" href="./sobrenós.html">
                <p>SOBRE NÓS</p>
            </a>
        </div>
    </nav>
</body>
</html>