<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <nav>
        <a id="img" href="/src/pages/index.html"><img src="../assets/img/logo-sem-bg-verde.png" alt="Logo"></a>
        <div>
            <a href="">
                <p>CARDÁPIO</p>
            </a>
        </div>
        <div>
            <a href="">
                <p>EVENTOS</p>
            </a>
        </div>
        <div>
            <a href="">
                <p>SOBRE NÓS</p>
            </a>
        </div>
    </nav>
</body>
</html>